.product-filter {
    width: 90%;
    padding: 30px 0;
    flex-direction: row;
    
}

.sort {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.shopTitle{
    border: 4px black solid;
    border-radius: 50%;
    padding: 15px;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cartIcon{
    padding-left: 30px;
    padding-top: 5px;
    margin-top: 10px;
}

  

