.products {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  
    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
      flex: 2 46%;
    }
}
  
  