.shoppingCart{
    border: 2px gold solid;
    background-color: azure;
}

.shoppingCartHeader{
    padding: 5px;
    font-size: x-large;
    text-align: center;
}
.cartTotal{
    padding: 5px;
    font-size: larger;
    margin-left: 40%;
}

.totalPrice {
    color: brown;
    font-size: x-large;
}

.itemContainer {
    display: flex;
    gap: 5px;;

}

.sm-table {
    width: 9%;
    padding: 2px;
    padding-left: 5px;
}

.head-tbl {
    font-weight: bold;
}

.img-tbl {
    width: 30px;
    height: 30px;
}